# dev related (pycharm specific gitignore)
.idea
*.pyc

# data storage directories
/root_files/*
/datasets/*

# ignore .png, .root, .npz and .npy in results subdirectory
# files are too large and too many to properly comit
results/**/*.png
results/**/*.root
results/**/*.npz
results/**/*.npy
results/**/*.txt
condor
EnergyNeutronHist_Neutrons.png
EnergyNeutronHist_NoNeutrons.png
EnergySpectrum_Neutrons.png
EnergySpectrum_NeutronsCompton.png
EnergySpectrum_NoNeutrons.png
EnergySpectrum_NoNeutronsCompton.png
EnergySpectrumStacked_Neutrons.png
EnergySpectrumStacked_NoNeutrons.png
