# dev related (pycharm specific gitignore)
.idea
*.pyc

# data storage directories
/root_files
/datasets
/results
/condor

# ignore .png, .root, .npz and .npy in results subdirectory
# files are too large and too many to properly comit
results/**/*.png
results/**/*.root
results/**/*.npz
results/**/*.npy
results/**/*.txt
*.png
*.log
datasets
results
